<h1>Listing de mes articles !</h1>
<%= link_to "Créer un nouvel artcile", new_article_path %><br><br>

<table>
     <tr>
	<th>Titre</th>
	<th>Description</th>
     </tr
     <% @articles.each do |article| %>
	<tr>
	     <td><%= article.title %></td>
	     <td><%= article.description %></td>
       <td><%=link_to "éditer", edit_article_path(article)  %></td>
	     <td><%=link_to "afficher", article_path(article) %></td>
       <td><%=link_to "supprimé", article_path(article), method: :delete %></td>
  </tr>
     <%  end %>
</table>
